{% extends "template.html" %}

{% block title %}Queen's Search Engine{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>QSE</h1>
    </div>
  </div>
</div>

<form action="/search" method="get">
  <fieldset>
    <input type="hidden" name = "pageNum" value="0">
    search:<br>
    <input type = "text" name="q"><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>

{% endblock %}
