{% extends "template.html" %}

{% block title %}Queen's Search Engine{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>QSE</h1>

      <p> Searching for {{test}}! </p>
    </div>
  </div>
</div>

{% if length == 0 %}
      <p> No results found for {{test}}! </p>
{%else%}
<ul>
  {% for tests in testarray %}
  <li> <a href="{{ tests[0] }}"">{{ tests[0] }}</a> </li>
  {% endfor %}
</ul>

{% if pageNum > 0 %}
<a href='/search?pageNum={{ pageNum -1 }}&q=dota+2' class="button">&laquo; Previous</a>
{%endif%}
<a href='/search?pageNum={{ pageNum +1 }}&q=dota+2' class='button'>Next &raquo;</a>
<br>
{%endif%}
<a href='/' class='home'>Home</a>
<br>
<a href={{adds[0][1]}}>
  <img src ={{adds[0][0]}} widht = '500' height = '400'>
</a>


{% endblock %}
