<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset = "UTF-8">
  <meta name="viewport" conent="width=device-width, initial-scale=1.0">

  <link rel = 'stylesheet' href = "{{url_for('static', filename='css/bootstrap.min.css')}}">

  <title>{%block title%} {%endblock%}</title>
</head>

<style>

a{
  text-decoration: none;
  display:inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  colour: black;
}

.button {
  background-color: #f1f1f1;
  color: black;
}
</style>

<body>

  <main>
    {%block main %}{% endblock %}
  </main>

  <!-- Import jquery 3.3.1 slim min -->
  <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
  <!-- Import Bootstrap bundle -->
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <!-- Import our custom JavaScript -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
